@model IEnumerable<StraussDA.BlogLib.Post>

<div class="collapse fade" id="submenu" role="dialog " aria-labelledby="exampleModalCenterTitle " aria-hidden="true ">
    <div class="navbar-expand-lg bg-light ">
        <div class="row no-gutters ">
          
            <div class="col-4 ">
                <h4 class="pl-4 submenuhead ">Recent Articles</h4> 
                <div class="row "><ul class="col "> 
                        <ul class="list-unstyled"> 
                            @foreach (var item in Model)
                            { int maxLeft = 8; 
                              if (maxLeft > 4)
                                {
                            <li> @Html.ActionLink(item.PostName, "Details", new { id = item.Id }, new { @class = "btn btn-info" })</li>
    @*<a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Index"> @Html.DisplayFor(modelItem => item.PostName) @*/Modified: @Html.DisplayFor(modelItem => item.ModifyDate)*@

                                   maxLeft--;
                                }
                                else{
                                    return;
                                }
                            }
                                                                           <div class="col ">
                        <ul class="list-unstyled "></ul>
                    </div>



                    <div class="col ">
                        <ul class="list-unstyled "></ul>
                    </div>
                </div>

                @*  <div class="form-group ">
                    <label for="select-country ">Select Your Region</label>
                    <select class="form-control " id="select-country ">
                        <option>UK</option>
                        <option>USA</option>
                        <option>Brazil</option>
                        <option>South Africa</option>
                    </select>
                *@
            </div>



            <div class="col ">
                <h4 class="submenuhead ">heading 2</h4>
                <ul class="list-unstyled ">
                    <li>
                        <a class="nav-link " href="# ">About Us</a>
                    </li>
                    <li>
                        <a class="nav-link " href="# ">Accessibility</a>
                    </li>
                    <li>
                        <a class="nav-link " href="# ">Advertise</a>
                    </li>
                    <li>
                        <a class="nav-link " href="# ">Ad Choices</a>
                    </li>
                    <li>
                        <a class="nav-link " href="# ">Content Team</a>
                    </li>
                </ul>
            </div>
            <div class="col ">
                <h4 class="submenuhead ">heading 2</h4>
                <ul class="list-unstyled ">
                    <li>
                        <a class="nav-link " href="# ">About Us</a>
                    </li>
                    <li>
                        <a class="nav-link " href="# ">Accessibility</a>
                    </li>
                    <li>
                        <a class="nav-link " href="# ">Advertise</a>
                    </li>
                    <li>
                        <a class="nav-link " href="# ">Ad Choices</a>
                    </li>
                    <li>
                        <a class="nav-link " href="# ">Content Team</a>
                    </li>
                </ul>
            </div>
            <div class="col ">
                <ul class="list-unstyled ">
                    <h4 class="submenuhead ">heading 3</h4>
                    <li>
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li>
                        <a class="nav-link " href="# ">Accessibility</a>
                    </li>
                    <li>
                        <a class="nav-link " href="# ">Advertise</a>
                    </li>
                    <li>
                        <a class="nav-link " href="# ">Ad Choices</a>
                    </li>
                    <li>
                        <a class="nav-link " href="# ">Content Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-1 "></div>
</div>