@model IEnumerable<StraussDA.BlogLib.Post>
@{
    ViewData["Title"] = "Home Page";
}
@Html.Partial("../Shared/_SubMenu")

<div class="row">
    <aside class="col-md-2 col-lg-2 p-1 text-center">
        <img class="img-fluid mx-auto" src="image/dave.jpg">

    </aside>
    <main class="col-md-10 col-lg-10 p-1" id="article-area">

        @{ int bgAlt = 0;
            foreach (var item in Model)
            {
                if (bgAlt == 0)
                {
                    <div class="bg-lightgreen pl-4 pr-4 pt-1 pb-1 mb-1 article-content">@Html.Raw(item.PostContent)</div>;
                    bgAlt++;
                    continue;
                }
                if (bgAlt == 1)
                {<div class="bg-lightcoral pl-4 pr-4 pt-1 pb-1 mb-1 article-content">@Html.Raw(item.PostContent)</div>;
                bgAlt--;
                continue;
            }
        }
        }

    </main>
</div>
