@model IEnumerable<StraussDA.BlogLib.Post>
@{
    ViewData["Title"] = "Home Page";
}
@Html.Partial("../Shared/_SubMenu")

<div class="row">
    <aside class="col-md-4 col-lg-3 p-3 text-center">
        <img class="img-fluid mx-auto" src="image/dave.jpg">
    </aside>
    <main class="col-md-8 col-lg-9 p-5" id="article-area">

        @{ int bgAlt = 0;
            foreach (var item in Model)
            {
                if (bgAlt == 0)
                {
                    <div class="bg-success">@Html.Raw(item.PostContent)</div>;
                    bgAlt++;
                    continue;
                }
                if (bgAlt == 1)
                {<div class="bg-danger">@Html.Raw(item.PostContent)</div>;
                bgAlt--;
                continue;
            }
        }
        }

    </main>
</div>
