@model StraussDA.BlogLib.Post

<form asp-action="@ViewData["Action"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input hidden asp-for="Id" />
    <input hidden asp-for="PostDate" />
    <input hidden asp-for="ModifyDate" />
    <div class="row">
        <div class="form-group col-4">
            <label asp-for="PostName" class="control-label"></label>
            <input asp-for="PostName" class="form-control" />
            <span asp-validation-for="PostName" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="PostTags" class="control-label"></label>
            <input asp-for="PostTags" class="form-control" />
            <span asp-validation-for="PostTags" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="PostCategory" class="control-label"></label>
            <input asp-for="PostCategory" class="form-control" />
            <span asp-validation-for="PostCategory" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PostContent" class="control-label"></label>
        @Html.TextArea("PostContent", null, new { @class = "form-control" })
        <span asp-validation-for="PostContent" class="text-danger"></span>
    </div>
        <div class="form-group">
            <input type="submit" value="@ViewData["Title"]" class="btn btn-primary" />
        </div>
</form>