@model StraussDA.BlogLib.Post

<form asp-action="@ViewData["Action"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input hidden asp-for="Id" />
    <input hidden asp-for="PostDate" />
    <input hidden asp-for="ModifyDate" />
    <div class="row w-100 text-center">
        <div class="form-group col-8">
            <label asp-for="PostName" class="control-label"></label>
            <input asp-for="PostName" class="form-control" />
            <span asp-validation-for="PostName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-12 createArea">
        <label class="text-danger control-label" asp-for="PostContent">Post Content</label>
        @Html.TextAreaFor(m => m.PostContent, new { @class = "form-control editorHtml" })
        <span asp-validation-for="PostContent" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="form-group col-8">
            <label class="text-danger control-label" asp-for="PostCategory">Category</label>
            <select class="form-control" asp-for="PostCategory">
                <option>Web Development</option>
                <option>Game Development</option>
                <option>Career/Learning</option>
                <option>Humor</option>
                <option>Music</option>
            </select>

        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label asp-for="PostTags" class="control-label"></label>
            <input asp-for="PostTags" class="form-control" />
            <span asp-validation-for="PostTags" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="@ViewData["Title"]" class="btn btn-primary" />
    </div>
</form>