@model StraussDA.BlogLib.Post

@{
    ViewData["Title"] = "Create Post";
    ViewData["Action"] = "Create";
}
<div class="container">
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">


        <h1>Create</h1>

        <h4>Post</h4>
        <hr />
        <div class="row">
            <div class="col-md-12 align-items-center">
                @Html.Partial("_editPost", Model, ViewData)

            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
