@model StraussDA.BlogLib.Post

@{
    ViewData["Title"] = "Edit Post";
    ViewData["Action"] = "Edit";
}


<h4 class="text-center">Edit Post</h4>
<hr />
<div class="row">
    <div class="col-md-12 align-items-center">
        @Html.Partial("_editPost", Model, ViewData)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

